@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.merriweather-light {
  font-family: "Kanit", serif;
}

.merriweather-regular {
  font-family: "Kanit", serif;
}

.merriweather-bold {
  font-family: "Kanit", serif;
}

.merriweather-black {
  font-family: "Kanit", serif;
}




.nosifer-regular {
  font-family: "Nosifer", serif;

}

.nosifer-bold{
  font-family: "Nosifer",serif;

}

.merriweather{
  font-family: "kanit",serif;
}

.custom-height {
  height: calc(100vh - 60px);
}

.custom-padding{
  padding-top: 22px;
  padding-left: 9px;
  padding-right: 4px;
}

.padding-y{
  padding: 7px 0px 10px 0px;
}


.custom-paddinginner{
  padding: 10px 0;
  /* background-color: purple; */
}


.custom-margin{
  margin-top: 10px;
  margin-bottom: 9px;
}

.button-padding{
  padding: 15px 10px;
  margin: 13px 10px;
}

.button-paddingg{
  padding: 5px 10px;
}

.mx-auto{
  margin: 0 auto;
}

.bg-whitee{
  background-color: rgb(248, 243, 243);
}

.box-mar-pad{
  padding: 10px 10px ;
  margin: 10px 0px;
}